* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*1. NAVBAR MAIN  */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;


    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 40px;
    border-bottom: 1px solid #e5e5e5;
    z-index: 1000;
    box-sizing: border-box;
}

/* --- LOGO --- */
.logo {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #000;
    text-decoration: none;
    letter-spacing: 0.5px;
    margin-right: 40px;
    flex-shrink: 0;
}

/* --- NAV LINKS (เมนูตรงกลาง) --- */
nav {
    height: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav-links li {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.menu-link {
    white-space: nowrap;
    text-decoration: none;
    color: #333;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    white-space: nowrap;
    padding: 0 5px;
    transition: color 0.2s;
}

.menu-link:hover {
    color: #000;
}


.nav-icons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 25px;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.icon-link:hover {
    opacity: 1;
}


.nav-icons img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: block;
}

.lang-selector {
    font-size: 13px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
    border-left: 1px solid #ddd;
}


/*------ Dropdown Menu ----*/

.dropdown-menu {
    position: absolute;
    top: 70px;
    left: 0;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-top: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    padding: 30px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.2s ease;
}

.has-dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.type-wide .dropdown-menu {
    width: 600px;
}

.type-box .dropdown-menu {
    width: 350px;
}

.type-row .dropdown-menu {
    width: max-content;
    min-width: 400px;
    padding: 20px 30px;
}

.dropdown-inner {
    display: flex;
    gap: 50px;
}

.dropdown-col {
    display: flex;
    flex-direction: column;
    min-width: 120px;
}

.full-width {
    width: 100%;
}

.dd-header {
    font-size: 13px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
    text-transform: uppercase;
    display: block;
}

.dd-list,
.sub-col,
.horizontal-list {
    display: flex;
}

.dd-list {
    flex-direction: column;
    gap: 10px;
}

.sub-col {
    flex-direction: column;
    gap: 10px;
    width: 48%;
}

.horizontal-list {
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.dd-grid-2 {
    display: flex;
    justify-content: space-between;
}

/* ลิงก์ใน Dropdown */
.dropdown-inner a {
    font-size: 13px;
    color: #666;
    text-decoration: none;
    transition: color 0.2s;
    font-family: 'Helvetica Neue', sans-serif;
}

.dropdown-inner a:hover {
    color: #000;
    text-decoration: underline;
}

.horizontal-list a {
    color: #333;
    font-size: 14px;
}

/*  PRODUCT PAGE LAYOUT*/

:root {
    --font-mono: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    --font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    font-family: var(--font-mono);
    background-color: #f4f4f4;
    color: #000;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    font-family: var(--font-sans);
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.container {
    display: flex;
    margin-top: 100px;
    min-height: 100vh;
}

.gallery {
    width: 55%;
    background-color: #fff;
    padding: 0;
    border-right: 1px solid #000;
}

.product-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-bottom: 0;
}

.gallery-text {
    font-family: var(--font-sans);
    font-weight: 900;
    font-size: 50px;
    line-height: 1.1;
    color: #000;
    margin: 60px 0;
    padding: 0 40px;
}

/* --- Mobile Responsive  --- */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .gallery {
        width: 100%;
        border-right: none;
    }

    .product-img {
        width: 100%;
    }

    .gallery-text {
        font-size: 1.5rem;
        margin: 40px 0;
        padding: 0 20px;
    }

    .product-info {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        padding: 30px 20px;
    }
}

/* ---  Product Info --- */
.product-info {
    width: 50%;
    padding: 20px;
    position: sticky;
    top: 250px;
    height: calc(100vh - 180px);
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.product-info::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: var(--font-sans);
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: 15px;
    line-height: 1.1;
}

.price-container {
    margin-bottom: 25px;
}

.price {
    font-family: var(--font-sans);
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.tax-note {
    font-size: 0.9rem;
    color: #333;
}

/* Tags */
.feature-tags {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.tag {
    padding: 8px 16px;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 500;
}

/* Section Titles */
.section-title {
    font-family: var(--font-sans);
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.section-title span {
    font-family: var(--font-mono);
    font-weight: 400;
    margin-left: 10px;
}

/* Color & Size */
.color-selection {
    margin-bottom: 30px;
}

.color-swatch {
    width: 32px;
    height: 32px;
    background-color: #333333;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #000;
}

.color-swatch-core {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 3px;
    background-color: #ffdaba;
    background-clip: content-box;
    cursor: pointer;
    box-shadow: 0 0 0 2px #000;
}
.color-swatch-coffee {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 3px;
    background-color: #826b45;
    background-clip: content-box;
    cursor: pointer;
    box-shadow: 0 0 0 2px #000;
}
.color-swatch-PigmentBlack {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 3px;
    background-color: #3c3c3b;
    background-clip: content-box;
    cursor: pointer;
    box-shadow: 0 0 0 2px #000;
}

.size-selection {
    margin-bottom: 40px;
}

.size-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 15px;
}

.size-guide-link {
    font-size: 0.9rem;
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

.size-options {
    display: flex;
    gap: 10px;
}

.size-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 4px;
    color: #000;

}

.size-btn:hover {
    border-color: #000;
}

.size-btn.selected {
    border-color: #000;
    background-color: #000 !important;
    color: #fff !important;
    font-weight: 700;
}


.container {
    display: flex;
    margin-top: 20px;
}

.gallery {
    width: 50%;
    padding: 20px;
}

.product-img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.product-info {
    width: 50%;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.size-options {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* ซ่อนจุดรายการของ summary */
summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid #eee;
}

summary::-webkit-details-marker {
    display: none;
}

/* Add to Cart */
.add-to-cart {
    width: 100%;
    padding: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-family: var(--font-sans);
    font-size: 1.1rem;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 40px;
    transition: background 0.3s;
}

.add-to-cart:hover {
    background-color: #333;
}

/* Highlight Description (Right Side) */
.highlight-desc {
    font-family: var(--font-sans);
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 1.25;
    margin-bottom: 30px;
    color: #000;
}

.highlight-desc.secondary {
    margin-bottom: 40px;
}

/* --- ACCORDION  --- */

.accordion-group {
    border-top: 1px solid #ccc;
}

details {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    cursor: pointer;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-sans);
    font-weight: 700;
    font-size: 1.1rem;
    list-style: none !important;
}

summary::-webkit-details-marker {
    display: none !important;
}

summary::after {
    content: none !important;
}

.icon-group {
    font-family: var(--font-mono);
    font-size: 1.5rem;
    font-weight: 400;
    width: 20px;
    text-align: center;
    position: relative;
}

/* 1. เมื่อปิด (details ไม่มี attribute open) -> โชว์บวก ซ่อนลบ */
.plus {
    display: block;
}

.minus {
    display: none;
}

details[open] .plus {
    display: none;
}

details[open] .minus {
    display: block;
}

.details-content {
    padding-top: 20px;
    font-size: 0.95rem;
    color: #555;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .gallery {
        width: 100%;
        border-right: none;
        padding: 0;
    }

    .image-placeholder {
        height: 400px;
        margin-bottom: 5px;
        border: none;
    }

    .gallery-text {
        font-size: 1.5rem;
        margin: 40px 20px;
    }

    .product-info {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        padding: 30px 20px;
    }

    h1 {
        font-size: 1.8rem;
    }

    .highlight-desc {
        font-size: 1.1rem;
    }
}